.close-btn{
    svg{
        width:28px;
        height:28px;
        fill:#6d6d6d;
    }
    padding:0;
    border-right:0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}