.page-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 555px;
    padding-top: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $light_beige;

    @include breakpoint(extra-small) {
        padding-top: 80px;
    }
}

.page-banner__title {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(extra-small) {
        font-size: 40px;
    }
}

.page-banner--small {

    .page-banner__title {
        max-width: 500px;
    }
}