.propose-banner {
    position: relative;

    @include breakpoint(mobile-landscape) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.propose-banner__img {
    width: 100%;
    vertical-align: middle;
}

.propose-banner__text {
    position: absolute;
    max-width: 224px;
    width: 100%;
    left: 57%;
    top: 50%;
    margin-top: -40px;
    color: #fff;
    z-index: 1;
    text-align: center;
    font-weight: 100;

    @include breakpoint(extra-small) {
        left: 54%;
        max-width: 144px;
        color: $black;
    }

    @include breakpoint(mobile-landscape) {
        position: static;
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 40px;
        font-size: 30px;
        max-width: 100%;
        margin-top: 0;
    }

    @media (max-width: 360px) {
        .product-container {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}