.product-inp-qty{
    display: none;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    //background-color: #fff;
}

.product-inp-qty__input{
    display: inline;
    border: none;
    padding:0;
    text-align: center;
    font-size:30px;
    min-width:50px;
    -webkit-appearance: none;
    font-family:$moderat-light;
}

.product-inp-qty__minus, .product-inp-qty__plus{
    font-size:30px;
    background-color: transparent;
    border:none;
    border-radius:0;
    font-family:$moderat-light;
    -webkit-appearance: none;
    cursor: pointer;
}