.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    padding: 25px;
    overflow-y: auto;


    @include breakpoint(extra-small) {
        font-size: 16px;
        background-color: #fff!important;

        // Styles for the mobile SigIn in the Menu
        display: block;
        transform: translateX(100%);
        transition: .5s all;
        transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);

        &.popup--open {
            transform: translateX(0);
        }

    }
}

.popup__close-button {
    position: absolute;
    top: 50px;
    right: 50px;

    @include breakpoint(extra-small) {
        top: 25px;
        right: 25px;
    }

    @include breakpoint(small-tablet-portrait) {
        right: 38px;
        top: 22px;
    }
}

.popup__back-link {
    display: none;
    position: absolute;
    left: 45px;
    top: 25px;
    font-size: 20px;

    @include breakpoint(extra-small) {
        display: inline-block;
    }


}

.popup__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    @include breakpoint(small-tablet-portrait) {
        align-items: flex-start;
    }
}

.popup__body {
    width: 590px;
    padding: 60px 60px;
    background-color: #fff;

    @include breakpoint(extra-small) {
        padding: 40px 20px;
        width: 100%;
        max-width: 500px;
    }

    @include breakpoint(small-tablet-portrait) {
        padding-top: 50px;
    }
}

.popup__title {
    margin-bottom: 60px;
    @include breakpoint(extra-small) {
        margin-bottom: 25px;
        font-size: 20px;
    }
}

.popup__forgot-pass {
    margin: 25px 0;
    text-align: right;
    font-size: 14px;
}

.popup__recover-pass-text {
    margin-bottom: 30px;
    @include breakpoint(extra-small) {
        margin-bottom: 15px;
    }
}