.header-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index:10;
}

.header {
    position: relative;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px;

    @include breakpoint(extra-small) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.header__logo {
    display: inline-flex;
    align-items: center;
    max-width: 92px;
    font-size: 30px;
    color: #fff;
    a {
        display: inline-flex;
        align-items: flex-start;
        color: #fff;
        &:hover {
            border: none;
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    @include breakpoint(extra-small) {
        justify-content: center;
        padding: 0 25px;
    }
}

.header__navigation {
    @media (min-width: 768px) {
        display: block!important;
    }

    @include breakpoint(extra-small) {
        position: fixed;
        display: none;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 200;
        overflow-y: auto;
        padding-top: 80px;
        padding-left: 30px;
        padding-bottom: 45px;
        padding-right: 25px;
        background-color: #fff;
    }
}

.header__cart-link {
    display: none;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: $black;
    @include breakpoint(extra-small) {
        display: inline-block;
    }
}

.header__navigation-close-button {
    display: none;

    @include breakpoint(extra-small) {
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 22px;
    }
}