//$varibles color and sizes

//fonts
$moderat-regular: "Moderat Regular", "Arial";
$moderat-bold: "Moderat Bold", "Arial";
$moderat-light: "Moderat Light", "Arial";

//colors
$light_beige: #FBFAF8;
$beige: #EBE3D7;
$eigengrau_black: #16161A;
$plein_blue: #E4ECF7;
$plein_green: #D7EDB7;
$plein_yellow: #FDEEAF;
$plein_pink:#FFE0E5;
$black: #16161D;


$gray: #c3c2c2;